.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}

.main-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.error{
    padding: 10px 50px;
    background-color: rgb(255, 182, 182);
    font-size: 20px;
    border-radius: 5px;
}
.success{
    padding: 10px 50px;
    background-color: rgb(151, 255, 151);
    font-size: 20px;
    border-radius: 5px;
}
